projects/07-review-pulse/workflows/review-collector.json
{
  "name": "ReviewPulse - Review Collector",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "cron-daily",
      "name": "Daily 6AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "cron-weekly",
      "name": "Weekly Monday 9AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/{{ $env.APIFY_ACTOR_ID }}/runs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "startUrls",
              "value": "={{ $env.REVIEW_URLS }}"
            },
            {
              "name": "maxReviews",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "id": "start-apify-actor",
      "name": "Start Apify Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "apify-token",
          "name": "Apify API Token"
        }
      }
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "minutes"
      },
      "id": "wait-for-scraper",
      "name": "Wait 5 Minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [500, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.apify.com/v2/acts/{{ $env.APIFY_ACTOR_ID }}/runs/last/dataset/items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "get-actor-results",
      "name": "Get Scraper Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "apify-token",
          "name": "Apify API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst reviews = items.map((item, index) => ({\n  review_id: item.json.id || `review-${Date.now()}-${index}`,\n  platform: item.json.platform || 'google_maps',\n  business_name: item.json.businessName || '',\n  business_url: item.json.businessUrl || '',\n  reviewer_name: item.json.reviewerName || 'Anonymous',\n  rating: item.json.rating || 0,\n  max_rating: 5,\n  text: item.json.text || item.json.reviewText || '',\n  date: item.json.publishedAtDate || item.json.date || new Date().toISOString().split('T')[0],\n  language: item.json.language || 'en'\n}));\n\nreturn [{\n  json: {\n    business_id: items[0]?.json.businessId || 'default',\n    reviews: reviews,\n    total_count: reviews.length,\n    scraped_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "transform-data",
      "name": "Transform to Webhook Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_BASE_URL }}/webhook/reviews",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "post-to-api",
      "name": "POST Reviews to API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_BASE_URL }}/analyze",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ reviews: $json.reviews || [], include_categories: true, include_key_phrases: true, include_summary: true }) }}",
        "options": {}
      },
      "id": "analyze-reviews",
      "name": "Analyze Reviews",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 0]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [],
          "number": [
            {
              "value1": "={{ $json.results ? $json.results.filter(r => r.overall_score < -0.3).length : 0 }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "check-negative",
      "name": "Has Negative Reviews?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1750, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \":warning: ReviewPulse Alert: {{ $json.results ? $json.results.filter(r => r.overall_score < -0.3).length : 0 }} negative reviews detected in today's batch.\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \":warning: Negative Review Alert\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*{{ $json.results ? $json.results.filter(r => r.overall_score < -0.3).length : 0 }}* negative reviews detected in today's batch of *{{ $json.total_analyzed || 0 }}* reviews.\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "id": "slack-alert",
      "name": "Send Slack Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, -100]
    },
    {
      "parameters": {},
      "id": "noop-positive",
      "name": "No Alerts Needed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2000, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_BASE_URL }}/summarize?period_days=7",
        "options": {}
      },
      "id": "weekly-summary",
      "name": "Generate Weekly Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \":bar_chart: Weekly Review Summary\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \":bar_chart: Weekly ReviewPulse Summary\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"{{ $json.summary ? $json.summary.substring(0, 2000) : 'No summary available.' }}\"\n      }\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"Reviews analyzed: {{ $json.review_count || 0 }} | Period: {{ $json.period_days || 7 }} days\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "post-weekly-summary",
      "name": "Post Summary to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 400]
    }
  ],
  "connections": {
    "Daily 6AM Trigger": {
      "main": [
        [
          {
            "node": "Start Apify Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Apify Scraper": {
      "main": [
        [
          {
            "node": "Wait 5 Minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 Minutes": {
      "main": [
        [
          {
            "node": "Get Scraper Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Scraper Results": {
      "main": [
        [
          {
            "node": "Transform to Webhook Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform to Webhook Payload": {
      "main": [
        [
          {
            "node": "POST Reviews to API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Reviews to API": {
      "main": [
        [
          {
            "node": "Analyze Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Reviews": {
      "main": [
        [
          {
            "node": "Has Negative Reviews?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Negative Reviews?": {
      "main": [
        [
          {
            "node": "Send Slack Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Alerts Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Monday 9AM": {
      "main": [
        [
          {
            "node": "Generate Weekly Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Weekly Summary": {
      "main": [
        [
          {
            "node": "Post Summary to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "review-pulse-collector"
  },
  "tags": [
    {
      "name": "ReviewPulse",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    }
  ]
}
