projects/05-price-radar/workflows/price-monitor.json
{
  "name": "PriceRadar - Daily Price Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily at 8am",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/{{ $env.APIFY_ACTOR_ID }}/runs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $env.APIFY_API_TOKEN }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "start-apify-actor",
      "name": "Start Apify Actor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [470, 300]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "minutes"
      },
      "id": "wait-for-scrape",
      "name": "Wait 5 Minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.apify.com/v2/acts/{{ $env.APIFY_ACTOR_ID }}/runs/last/dataset/items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $env.APIFY_API_TOKEN }}"
            },
            {
              "name": "format",
              "value": "json"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "get-actor-results",
      "name": "Get Scrape Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [910, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/webhook/apify",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ source: 'apify-price-radar', scraped_at: new Date().toISOString(), total_products: $json.length || 0, products: $json }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "post-to-processor",
      "name": "Send to PriceRadar API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.price_drops_detected || 0 }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "check-alerts",
      "name": "Any Price Alerts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "channel": "#price-alerts",
        "text": ":rotating_light: *PriceRadar Alert*\n\n*{{ $json.price_drops_detected }}* price drop(s) detected\n*{{ $json.stock_changes_detected }}* stock change(s) detected\n*{{ $json.alerts_saved }}* alert(s) saved\n\nTotal products scanned: {{ $json.total_products_received }}\n\nCheck the dashboard for details.",
        "otherOptions": {}
      },
      "id": "slack-alert",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1570, 200],
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack Account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_USER }}",
        "toEmail": "={{ $env.ALERT_EMAIL }}",
        "subject": "PriceRadar: {{ $json.price_drops_detected }} price drop(s) detected",
        "text": "PriceRadar Daily Report\n\nPrice drops detected: {{ $json.price_drops_detected }}\nStock changes detected: {{ $json.stock_changes_detected }}\nAlerts saved: {{ $json.alerts_saved }}\nTotal products scanned: {{ $json.total_products_received }}\n\nSync Summary:\n- Products created: {{ $json.sync_stats.products_created }}\n- Products updated: {{ $json.sync_stats.products_updated }}\n- History entries: {{ $json.sync_stats.history_entries }}\n- Errors: {{ $json.sync_stats.errors }}\n\nPlease review the alerts in your PriceRadar dashboard.",
        "options": {}
      },
      "id": "email-alert",
      "name": "Email Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [1570, 400],
      "credentials": {
        "smtp": {
          "id": "2",
          "name": "SMTP Account"
        }
      }
    }
  ],
  "connections": {
    "Daily at 8am": {
      "main": [
        [
          {
            "node": "Start Apify Actor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Apify Actor": {
      "main": [
        [
          {
            "node": "Wait 5 Minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 Minutes": {
      "main": [
        [
          {
            "node": "Get Scrape Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Scrape Results": {
      "main": [
        [
          {
            "node": "Send to PriceRadar API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to PriceRadar API": {
      "main": [
        [
          {
            "node": "Any Price Alerts?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Price Alerts?": {
      "main": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "price-radar",
      "createdAt": "2024-01-15T00:00:00.000Z",
      "updatedAt": "2024-01-15T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-15T00:00:00.000Z",
  "versionId": "1"
}
